{% extends "base.html" %} {% block content %} {%for menu in menus %}
<h2>맘스: {{ menu.moms }}</h2>
<h2>셰프: {{ menu.chef }}</h2>
<h2>정찬: {{ menu.special }}</h2>
<h2>샐러드: {{ menu.salad }}</h2>
<h2>석식: {{ menu.dinner }}</h2>
<h2>Take Out: {{ menu.takeOut }}</h2>
<h2>식단표사진: {{menu.img}}</h2>
<h2>Date : {{menu.date}}</h2>
{% endfor %}

<button type="button" onclick="executeRDB()">검색</button>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
  const executeRDB = async () => {
    console.log("호ㅓ호ㅓ호ㅓ");
    const url = "executeRDB/";
    await axios.post(url, {});
  };
</script>

{% endblock %}
