{% extends "base.html" %} {% block content %} {%for menu in menus %}
<h2>맘스: {{ menu.moms }}</h2>
<h2>셰프: {{ menu.chef }}</h2>
<h2>정찬: {{ menu.special }}</h2>
<h2>샐러드: {{ menu.salad }}</h2>
<h2>석식: {{ menu.dinner }}</h2>
<h2>Take Out: {{ menu.takeOut }}</h2>
<h2>식단표사진: {{menu.img}}</h2>
<h2>Date : {{menu.date}}</h2>
{% endfor %}

<form action="{% url 'chatbot:excel' %}" method="POST" enctype="multipart/form-data">
        <input type="text" name="fileTitle" placeholder="Enter a title">
        <input type="file" name="uploadedFile">
        {% csrf_token %}
        <input type="submit" value="Upload">
</form>

<table>
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>File Path</th>
            <th>Upload Date & Time</th>
        </tr>
        {% for file in files %}
            <tr>
                <td>{{ file.id }}</td>
                <td>{{ file.title }}</td>
                <td>{{ file.uploadedFile.url }}</td>
                <td>{{ file.dateTimeOfUpload }}</td>
            </tr>
        {% endfor %}
    </table>

<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
  crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

<script>
  const executeRDB = async () => {
    const url = "executeRDB/";
    await axios.post(url, {});
  };
</script>

<script>

//엑셀 업로드
        function execl_upload(){
            if(!$('#file_excel').val()){
                alert('엑셀 파일을 입력하세요');
            }else{

                var ext = $('#file_excel').val().split('.').pop().toLowerCase();
                if($.inArray(ext, ['xls','xlsx']) == -1) {
	                alert('엑셀 파일만 업로드 할 수 있습니다.');
                }else{
                    if (confirm('엑셀을 반영 하시겠습니까?')){

                       var ajax_url = "{% url 'chatbot:add-rdb' %}";

                       // Get form
                       var form = $('#frm_excel')[0];

                       // Create an FormData object
                       var formData = new FormData(form);

                       var params = "";
                       var msg = "";
                       $.ajax({
                           type: "post",
                           enctype: 'multipart/form-data',
                           processData: false,
                           contentType: false,
                           url: ajax_url,
                           //data:params,
                           data: formData,
                           dataType: "JSON", // JSON 리턴
                           headers:{"X-CSRFToken": csrftoken},
                           beforeSend: function () {
                           },
                           success: function (data) {
                               // success
                               alert(data.rtnmsg);
                               if (data.state) {
                                   location.reload();
                               }
                           },
                           complete: function (data) {
                               // 통신이 실패했어도 완료가 되었을 때
                           },
                           error: function (xhr, status, error) {
                               alert("통신 에러");
                           },
                           timeout: 100000 //응답제한시간 ms
                       });

                    }
                }
            }
        }


 </script>


{% endblock %}
