<form action="{% url 'chatbot:uploadFile' %}" method="POST" enctype="multipart/form-data">
        {% comment %} <input type="text" name="fileTitle" placeholder="Enter a title"> {% endcomment %}
        <input type="radio" name="fileTitle" value="rdb">RDB</input>
        <input type="radio" name="fileTitle" value="cha">차세대</input>
        <input type="radio" name="fileTitle" value="nano">나노</input>
        <input type="file" name="uploadedFile">
        {% csrf_token %}
        <input type="submit" value="Upload">
</form>


<table>
       
{#        {% for file in files %}#}
{#            <tr>#}
{#                <td>{{ file.id }}</td>#}
{#                <td>{{ file.title }}</td>#}
{#                <td>{{ file.uploadedFile.url }}</td>#}
{#                <td>{{ file.dateTimeOfUpload }}</td>#}
{#            </tr>#}
{#        {% endfor %}#}
    </table>